body {
	background-color: #f8f8f8;
	color: #555;
	font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
}
button {
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
	text-align: left;
	line-height: normal;
	overflow: visible;
	&::after {
		border: none;
	}
}